@font-face {
    font-family: "arabic-kufi";
    src: url("../Fonts/ArbFonts.com-(3)/ArbFONTS-NotoKufiArabic-Bold.ttf");
}

body{
    font-family: arabic-kufi;
}

.toggler-example {
    background-color: #0092D5;
}



li .filter-box {
    background-color: white !important;
    border-radius: 20px;
    width: 325px !important;
}

ul li {
    margin: 5px 10px !important;
}

li .avatar img {
    border: 1px solid gray;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

li .filter-box div,
li .filter-box span,
li .filter-box input {
    background-color: transparent !important;
    border: none !important;
}

li .btn-icon {
    height: 17.5px !important;
}

li .btn-cl {
    color: #707070 !important;
}

li .btn-radius {
    border-radius: 20px;
    font-size: 13px;
}

li .btn-orange {
    background-color: #FFBD43;
    border-color: #FFBD43;
    color: white;
}

li .chat-box .badge,
li .notification-box .badge {
    position: absolute;
    width: 10px;
    height: 10px;
    font-size: 6px;
}

li .chat-box img,
li .notification-box img {
    width: 20px;
    margin: 8px;
}

.image-bg {
    background-image: url("../test1.png");
    background-size: cover;
    text-align: end;
    width: 100%;
    height: 150px;
    position: relative;
}

.test-images {
    top: 89%;
    left: 70%;
    position: relative;
    border-radius: 100px;
    background-color: white;
    width: 22%;
    box-shadow: 0px 1px gray;
    text-align: center;
}

.test-images img {
    width: 14px;
}

.test-images-favorit {
    top: 90%;
    left: 16%;
    position: relative;
    border-radius: 100px;
    background-color: white;
    width: 80%;
    font-size: 8px;
    color: #D1D1D1;
    box-shadow: 0px 1px gray;
    text-align: center;
    height: 17%;
    padding: 5px;
}

.test-images-favorit img {
    width: 14px;
}

img.heart {
    margin-left: 15px;
}

.test-images-message {
    top: 90%;
    left: 16%;
    position: relative;
    border-radius: 100px;
    background-color: white;
    width: 80%;
    font-size: 8px;
    color: #D1D1D1;
    box-shadow: 0px 1px gray;
    text-align: center;
    height: 19%;
}

.test-images-side-image {
    top: 71%;
    left: 1%;
    position: relative;
    border-radius: 33px;
    background-color: white;
    width: 10%;
    font-size: 8px;
    color: #D1D1D1;
    box-shadow: 0px 1px gray;
    text-align: center;
    height: 19%;
    padding: 5px;
}

input.message-area {
    padding-right: 28px;
    background-image: url('../Icons/More/message-circle.svg');
    background-repeat: no-repeat;
    background-size: 21px 13px;
    text-align: end;
    background-color: #F6F4F4;
    background-position: left center;
    border-radius: 30px;
    width: 78%;
    height: 77%;
    font-size: 8px;
    margin-top: 5px;
}

.test-images-side-image img {
    width: 19px;
    padding: 0px;
}

.test-images-message img {
    width: 14px;
    margin-bottom: 2px;
}


.test-images-side-image-regular {
    top: 75%;
    left: -3%;
    position: relative;
    border-radius: 33px;
    background-color: white;
    width: 11%;
    font-size: 8px;
    color: #D1D1D1;
    box-shadow: 0px 1px gray;
    text-align: center;
    height: 19%;
    padding: 5px;
}


.test-images-side-image-regular img {
    width: 21px;
    padding: 0px;
}

@media only screen and (max-width: 320px) {
    img.heart {
        margin-right: 60px;
        padding: 0;
    }

    .test-images-side-image {
        width: 17%;
    }
}
