/*Main Containers*/
/* Font Declaration*/
@font-face {
    font-family: "arabic-kufi-bold";
    src: url("../Fonts/ArbFonts.com-(3)/ArbFONTS-NotoKufiArabic-Bold.ttf");
}

@font-face {
    font-family: "arabic-kufi-regular-1";
    src: url("../Fonts/ArbFonts.com-(3)/ArbFONTS-22015-notokufiarabic-regular.ttf");
}

@font-face {
    font-family: "arabic-kufi-regular-2";
    src: url("../Fonts/ArbFonts.com-(3)/ArbFONTS-NotoKufiArabic-Regular.ttf");
}

/*End Font Declaration*/

body {
    background-color: #F6F7F9;
    font-family: arabic-kufi-regular-1;
}

header {
    height: auto;
}

.top-header {
    height: 48px;
}

.main-banner {
    position: relative;
    height: 125px;
}

.banner {
    width: 100%;
    height: 20%;
}

/* End Main Containers*/

/* MAIN BANNERS*/
.main-banner img {
    width: 100%;
}

.banner img {
    width: 50%;
    display: block;
    margin: 0 auto;
}

/*END MAIN HEADERSA*/
header .navbar-nav {
    height: 62px;
}

p span {
    padding-left: 5px;
}

header .top-header {
    padding: 5px 0;
}

.navbar-light .navbar-brand {
    color: #0092D5 !important;
}

header .top-header .search-box {
    background-color: #EFEFEF !important;
    border-radius: 20px;
    width: 325px !important;
}

header .top-header ul li {
    margin: 0 10px !important;
}

header .top-header .avatar img {
    border: 1px solid gray;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

header .top-header .search-box div,
header .top-header .search-box span,
header .top-header .search-box input {
    background-color: transparent !important;
    border: none !important;
}

header .top-header .btn-icon {
    height: 17.5px !important;
}

header .top-header .btn-cl {
    color: #707070 !important;
}

header .top-header .btn-radius {
    border-radius: 20px;
    font-size: 13px;
}

header .top-header .btn-orange {
    background-color: #FFBD43;
    border-color: #FFBD43;
    color: white;
}

header .top-header .chat-box .badge,
header .top-header .notification-box .badge {
    position: absolute;
    width: 10px;
    height: 10px;
    font-size: 6px;
}

header .top-header .chat-box img,
header .top-header .notification-box img {
    width: 20px;
    margin: 8px;
}


/*Footer start*/

.footer-copy-rights {
    text-align: center;
}

.footer-social-icon {
    text-align: center;
    height: auto;
    vertical-align: middle;
}

.footer-social-icon a {
    margin: 0 5px;
}

.footer-social-icon .icon-box {
    width: 35px;
    height: 35px;
    padding: 5px;
    background-color: white !important;
    border-radius: 50% !important;
    display: table-cell;
}

.footer-banner .container {
    max-width: 150%;
    display: inline-grid;
}

.footer-social-icon img {
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 3px;
    -moz-text-align-last: center;
    background: white;
}

.content-header {
    font-size: 12px;
    color: #B5B5B5;
}

li .nav-link {
    color: #707070;
    padding: 0;
    font-size: 10px;
    text-align: start;
    margin-bottom: 7px;
    font-weight: bold;
}

.footer-banner {
    background-color: #0092D5;
    height: auto;
}

.footer-banner .store-holder img {
    text-align: end;
    height: 33%;
    width: 37%;
    margin-top: 15%;

}

.footer-banner .text-holder p {
    vertical-align: middle;
    font-size: 22px !important;
    margin-top: 9%;
}

.footer-banner .mobile-holder {
    height: 120px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin-right: -42px;
}

.footer-menu {
    text-align: center;
}

.footer-menu ul {
    padding: 0 !important;
}

.footer-menu > div {
    margin: 40px 0 40px 0;
}

.footer-banner-text-holder p {
    font-family: arabic-kufi-bold;
    font-size: 19px;
    text-align: end;
}

/*End Footer*/


/* Body Content */

/* Filters */
li .filter-box {
    background-color: white !important;
    border-radius: 20px;
    width: 325px !important;
}

li .filter-box div,
li .filter-box span,
li .filter-box input {
    background-color: transparent !important;
    border: none !important;
    font-size: 8px !important;
}

/*End Filters*/

/* Card Items*/
.item-card-box {
    margin-bottom: 25px;
}

.item-card-box .card {
    background-color: transparent !important;
    border: 0;
    margin: auto;
    box-shadow: #d2d2d2 2px 3px 14px;
    border-radius: 10px;
}

.item-card-box .card-body {
    background-color: white;
    border-radius: 0 0 10px 10px;
}

.item-card-box .card-body img {
    width: 5%;
    border-radius: 0;
}

.item-card-box ul {
    margin-left: 3%;
}

.item-card-box ul li {
    display: inline;
}

.item-card-box li.time, li.location {
    font-size: 7px;
}

.item-card-box li.vl {
    border: 1px solid #c4c4c4;
}

.item-card-box li.ar-currency span, li.price span {
    color: #FFBD43;
    font-size: 12px;

}

.item-card-box .item-content p {
    font-size: 10px;
    color: #3E3E3E;
    text-align: end;
}

.time span {
    padding-right: 5px;
}

/* End Card Items*/

/*Paginator*/
.content-pagination {
    direction: ltr;
}

.pagination > li > a,
.pagination > li > span {
    border-radius: 50% !important;
    text-align: center;
}

.pagination-sm .page-item {
    width: 31px;
    margin: 0 5px;
}

.pagination-sm .page-item .page-link {
    color: black;
}


.pagination-sm .page-item:last-child .page-link {
    color: white;
}

.pagination-sm .page-item .page-link .active {
    background-color: #0092D5;
    color: white !important;
}

/*nav item*/
a .icon-box-donation {
    width: 35px;
    height: 35px;
    padding: 5px;
    background-color: #FD7D91 !important;
    border-radius: 50% !important;
    display: table-cell;
}

a .icon-box-food {
    width: 35px;
    height: 35px;
    padding: 5px;
    background-color: #FF6000 !important;
    border-radius: 50% !important;
    display: table-cell;
}

a .icon-box-books {
    width: 35px;
    height: 35px;
    padding: 5px;
    background-color: #343434 !important;
    border-radius: 50% !important;
    display: table-cell;
}

a .icon-box-table {
    width: 35px;
    height: 35px;
    padding: 5px;
    background-color: #853500 !important;
    border-radius: 50% !important;
    display: table-cell;
}

a .icon-box-business {
    width: 35px;
    height: 35px;
    padding: 5px;
    background-color: #08CBA5 !important;
    border-radius: 50% !important;
    display: table-cell;
}

a .icon-box-services {
    width: 35px;
    height: 35px;
    padding: 5px;
    background-color: #FFCC00 !important;
    border-radius: 50% !important;
    display: table-cell;
}

a .icon-box-animals {
    width: 35px;
    height: 35px;
    padding: 5px;
    background-color: #6BAB21 !important;
    border-radius: 50% !important;
    display: table-cell;
}

a .icon-box-kids {
    width: 35px;
    height: 35px;
    padding: 5px;
    background-color: #FD7D91 !important;
    border-radius: 50% !important;
    display: table-cell;
}

a .icon-box-sport {
    width: 35px;
    height: 35px;
    padding: 5px;
    background-color: #BD9EE4 !important;
    border-radius: 50% !important;
    display: table-cell;
}

a .icon-box-furniture {
    width: 35px;
    height: 35px;
    padding: 5px;
    background-color: #FF9E00 !important;
    border-radius: 50% !important;
    display: table-cell;
}

a .icon-box-electronics {
    width: 35px;
    height: 35px;
    padding: 5px;
    background-color: #6BCEBB !important;
    border-radius: 50% !important;
    display: table-cell;
}

a .icon-box-mobile {
    width: 35px;
    height: 35px;
    padding: 5px;
    background-color: #20C3F3 !important;
    border-radius: 50% !important;
    display: table-cell;
}

a .icon-box-clothes {
    width: 35px;
    height: 35px;
    padding: 5px;
    background-color: #84B54B !important;
    border-radius: 50% !important;
    display: table-cell;
}

a .icon-box-games {
    width: 35px;
    height: 35px;
    padding: 5px;
    background-color: #FF3F55 !important;
    border-radius: 50% !important;
    display: table-cell;
}

a .icon-box-cars {
    width: 35px;
    height: 35px;
    padding: 5px;
    background-color: #0088C7 !important;
    border-radius: 50% !important;
    display: table-cell;
}

a .icon-box-assets {
    width: 35px;
    height: 35px;
    padding: 5px;
    background-color: #7345AC !important;
    border-radius: 50% !important;
    display: table-cell;
}

a .icon-box-donation img {
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 3px;
}

a .icon-box-food img {
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 3px;
}

a .icon-box-books img {
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 3px;
}

a .icon-box-table img {
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 3px;
}

a .icon-box-business img {
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 3px;
}

a .icon-box-services img {
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 3px;
}

a .icon-box-animals img {
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 3px;
}

a .icon-box-kids img {
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 3px;
}

a .icon-box-sport img {
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 3px;
}

a .icon-box-furniture img {
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 3px;
}

a .icon-box-electronics img {
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 3px;
}

a .icon-box-mobile img {
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 3px;
}

a .icon-box-clothes img {
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 3px;
}

a .icon-box-games img {
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 3px;
}

a .icon-box-cars img {
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 3px;
}

a .icon-box-assets img {
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 3px;
}

.nav-item h5 {
    font-size: 8px;
    text-align: center;
    margin-top: 5px;
    word-wrap: break-word;
}

.nav-item a {
    color: #343434;

}

.navbar-icons li {
    margin: 0 10px;
}

/* Main Nav Bar */


/* Card Items Edited*/
.image-bg {
    background-image: url("../test1.png");
    background-size: cover;
    text-align: end;
    width: 100%;
    height: 150px;
    position: relative;
}

.test-images {
    top: 89%;
    left: 66%;
    position: relative;
    border-radius: 100px;
    background-color: white;
    width: 28%;
    box-shadow: 0px 1px gray;
    text-align: center;
}

.test-images img {
    width: 14px;
}

.test-images-favorit {
    top: 90%;
    left: 10%;
    position: relative;
    border-radius: 100px;
    background-color: white;
    width: 80%;
    font-size: 8px;
    color: #D1D1D1;
    box-shadow: 0px 1px gray;
    text-align: center;
    height: 17%;
    padding: 5px;
}

.test-images-favorit img {
    width: 14px;
}

img.heart {
    margin-right: 14px;
}

.test-images-favorit span {
    margin-right: 6px;
    padding-left: 3px;
}

.test-images-message {
    top: 90%;
    left: 16%;
    position: relative;
    border-radius: 100px;
    background-color: white;
    width: 80%;
    font-size: 8px;
    color: #D1D1D1;
    box-shadow: 0px 1px gray;
    text-align: center;
    height: 19%;
}

.test-images-side-image {
    top: 71%;
    left: 1%;
    position: relative;
    border-radius: 33px;
    background-color: white;
    width: 13%;
    font-size: 8px;
    color: #D1D1D1;
    box-shadow: 0px 1px gray;
    text-align: center;
    height: 19%;
    padding: 5px;
}

input.message-area {
    padding-right: 28px;
    background-image: url('../Icons/More/message-circle.svg');
    background-repeat: no-repeat;
    background-size: 21px 13px;
    text-align: end;
    background-color: #F6F4F4;
    background-position: left center;
    border-radius: 30px;
    width: 78%;
    height: 77%;
    font-size: 8px;
    margin-top: 5px;
}


.test-images-message img {
    width: 14px;
    margin-bottom: 2px;
}

.test-images-side-image img {
    width: 19px;
    padding: 0px;
}


.test-images-side-image-regular {
    top: 73%;
    left: -3%;
    position: relative;
    border-radius: 33px;
    background-color: white;
    width: 13%;
    font-size: 8px;
    color: #D1D1D1;
    box-shadow: 0px 1px gray;
    text-align: center;
    height: 20%;
    padding: 5px;
}


.test-images-side-image-regular img {
    width: 21px;
    padding: 0px;
}


@media screen and (max-width: 600px) {
    .footer-menu a {
        text-align: center;
    }
}

@media screen and (max-width: 999px) {
    .navbar-brand {
        display: none;
    }

    .navbar-toggler {
        width: 70%;
        display: block;
        margin: 0 auto;
    }

    .footer-menu a {
        text-align: center;
    }

    header .top-header ul li {
        text-align: center;
        margin: 5px 0 !important;
    }

    header .top-header .search-box {
        display: none;
    }

}

@media screen and (max-width: 375px) {
    .navbar-toggler {
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    .footer-banner .mobile-holder,
    .footer-banner.store-holder {
        margin-right: -45px;
    }


    header .top-header .search-box {
        display: none;
    }

    header .top-header ul li {
        text-align: center;
        margin: 2px -84px !important;
    }
}

@media (max-width: 575px) {
    .right-banner {
        position: relative;
        right: 15px;
        top: 25%;
    }

    img.heart {
        padding-left: 0 !important;
        margin-right: 0 !important;
    }

    .test-images-favorit span {
        margin-right: 0 !important;
        padding-left: 0 !important;
    }

    .time {
        padding-right: 0 !important;
    }

    .test-images-side-image,
    .test-images-side-image-regular {
        width: 15% !important;
    }

}


@media (max-width: 600px) {
    .footer-banner .mobile-holder,
    .footer-banner.store-holder {
        margin-right: -45px;
    }
}


@media (max-width: 799px) {
    .test-images-side-image,
    .test-images-side-image-regular {
        width: 17% !important;
    }
}

@media (min-width: 360px) {
    .right-banner {
        position: relative;
        right: -5px !important;
        top: 25%;
    }

    .test-images-favorit {
        width: 85% !important;
    }
}


@media (min-width: 992px) {
    .left-content.col-lg-1 {
        width: 11% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .right-content.col-lg-11 {
        width: 89% !important;
        padding-right: 20px !important;
        padding-left: 0 !important;
    }
}